:root {
    /* Tile backgrounds */
    --bgCloudTile: url("../assets/img/tiles/cloud.png") no-repeat center;
}

h1 {
    text-align: center;
}

/* Text colors */
.text-primary {
    color: #dbb021;
    font-size: 50px;
}

/* Button */
.btn {
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding: 10px 30px;
    color: #fff;
    background-color: #1b48c5;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}

/* .btnCity {
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding: 10px 30px;
    color: #fff;
    background-color: #1b48c5;
    border: none;
    border-radius: 5px;
}

.btnCity:hover {
    opacity: 0.9;
} */

/* Features */
.box {
    width: 33.3%;

    padding: 20px 30px;
    text-align: center;
    border: black solid;
    background-color: #6173a34f;
}

.box:hover {
    opacity: 0.4;
}

.boxTitle > p {
    position: relative;
    left: 2.5rem;
}

/* Flex items */
.flex-items {
    display: flex;
    justify-content: center;
    align-items: center;
}
